body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------HEADER--------------------- */
.logo img{
    position: absolute;
    top:8px;
    left:10px;
    width:10%
}
#header{
    background-color: white;
    height:65px;
}

.flex > nav {
    display:flex;
    gap:20px;
    position: absolute;
    left: 166px;
    top: 30px;
}

.flex2 > nav{
    display:flex;
    gap:20px;
    position:absolute;
    right:50px;
    top: 30px;
}

.hidenavbar > a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.signup{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.anything > a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.hidenavbar{
    display:contents;
}
.hide{
    display: none;
}


@media (max-width: 425px){

    .logo img{
        position: absolute;
        top: 10px;
        left:10px;
        width:10%
    }
    #header{
        background-color: white;
        height:38px;
    }
    
    .flex > nav {
        display: flex;
        gap: 19px;
        position: absolute;
        left: 59px;
        top: 13px;
    }
    
    .flex2 > nav{
        display:flex;
        gap:5px;
        position:absolute;
        right:10px;
        top: 13px;
    }
    
    nav > a{
        text-decoration: none;
        color:black;
        font-weight: bold;
        font-size:10px;
    }

    .hidenavbar{
        display: none;
    }
    .hide{
        display: contents;
        text-decoration: none;
    }
    .fas {
        width:30px;
        color: black;
        size: 3px;
        cursor: pointer;
    }
}
/* -----------------------MAIN CONTENT(COVER)---------------------- */


.cover img{
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.buttonarea{
    /* display: flex; */
    position: absolute;
    left: 30em;

}

.myImg{
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.myImg:hover{
    cursor: pointer;
}

.container{
    width:25em;
    padding-left: 30px;
    position: absolute;
    top:174px;
    font-size:30px;
    color: black;
}

.catpeople{
    font-size: 39px;
    font-weight: bold;
}
.newcover{
    font-size: 15px;
    width: 154px;
background-color: rgb(58, 155, 58);
color:white;
}

.btn{
    border: 1px solid black;
    background-color: rgb(69, 155, 69);
    color:white;
    font-weight: bold;
    padding: 10px 200px;
    font-size:medium;
    cursor: pointer;
}
@media (max-width: 425px){
    .cover img{
        background-size: cover;
        background-repeat: no-repeat;
        height:100%;
        width:100%;
    }
    
    .container{
        width:22em;
        padding-left: 30px;
        position: absolute;
        top:62px;
        font-size:12px;
        color: black;
    }
    .myImg:hover{
        cursor: pointer;
    }

    .catpeople{
        font-size: 21px;
        font-weight: bold;
    }
    .buttonarea{
        position:absolute;
        top: 40px;
        left: 140px;
    }

    .newcover{
        font-size: 8px;
    width: 73px;
    background-color: rgb(58, 155, 58);
    color:white;
    }
    
    
    .btn{
        border: 1px solid black;
        background-color: rgb(69, 155, 69);
        color:white;
        font-weight: bold;
        padding: 10px 50px;
        font-size:15px;
    }
}

/* -----------------------MAIN CONTENT(CONTENT 2)---------------------- */
/*=========================FIRST GRID==========================*/
.header1{
    font-weight: bold;
    font-size: 30px;
    text-align:center;
    margin: 5px;
}


.twoimg{
    display: none;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.innergrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 100px;
    background-color: honeydew;
}

.icon{ 
    padding-left: 30px;
    position:absolute;
    left: 50px;
    top:88em;
}

.texticon{
    position:absolute;
    left: 200px;
    top:88em;
}

.icon2{
    position:absolute;
    left: 76px;
    top: 95em;

}

.texticon2{
    padding-left: 30px;
    position:absolute;
    left: 163px;
    top:95em;
}

.icon3{
    position:absolute;
    left: 76px;
    top: 103em;
}

.texticon3{
    padding-left: 30px;
    position:absolute;
    left: 163px;
    top:103em;
}

.icon4{
    position:absolute;
    left: 76px;
    top: 111em;
}

.texticon4{
    padding-left: 30px;
    position:absolute;
    left: 163px;
    top:111em;
}
.icon5{
    position:absolute;
    left: 76px;
    top: 118em;
}

.texticon5{
    padding-left: 30px;
    position:absolute;
    left: 163px;
    top:118em;
}
@media (max-width: 425px){
    .header1{
        font-weight: bold;
        font-size: 30px;
        text-align:center;
    }

    .twoimg{
        display: block;
    }

    .twoimgflex{
        display: flex;
        padding-left: 21px;
        gap: 20px;
    }
    
    /* .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    } */
/*     
    .innergrid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,1fr);
        width: 100px;
        background-color: honeydew;
    } */
    
    .icon{ 
        padding-left: 23px;
        position: absolute;
        left: 17px;
        top: 41em;
    }
    
    .texticon{
        position: absolute;
        left: 152px;
        top: 41em;
    }
    
    .icon2{
        position: absolute;
        left: 42px;
        top: 48em;
    }
    
    .texticon2{
        padding-left: 30px;
        position: absolute;
        left: 124px;
        top: 48em;
    }
    
    .icon3{
        position:absolute;
        left: 34px;
        top: 55em;
    }
    
    .texticon3{
        padding-left: 30px;
        position:absolute;
        left: 124px;
        top:55em;
    }
    
    .icon4{
        position:absolute;
        left: 26px;
        top: 62em;
    }
    
    .texticon4{
        padding-left: 30px;
        position:absolute;
        left: 124px;
        top:62em;
    }
    .icon5{
        position:absolute;
        left: 34px;
        top: 70em;
    }
    
    .texticon5{
        padding-left: 30px;
        position:absolute;
        left: 124px;
        top:70em;
    }
}

/*=========================SECOND GRID==========================*/

.secondgrid{
    position: absolute;
    right: 90px;
    top: 90em;
}

.box{
    background-color: rgb(189, 186, 186);
    padding-top:5px;
    border: 1px solid black;
    text-align: center;
}

.innerbox{
    background-color: white;
    text-align:initial;
    padding-top: 10px;
}

.btn2{
    border: 1px solid black;
    background-color: rgb(69, 155, 69);
    color:white;
    font-weight: bold;
    padding: 10px 50px;
    font-size:medium;
}

.settingbtn{
    padding-bottom: 24px;
    text-align:center;
}

.title{
    display: flex;
    padding-left: 30px;
    gap: 10px;
}

.shield{
    width: 10%;
    height: 45px;
}

.belowtext{
    width: 446px;
}

.a{
    color:blue;
}

@media (max-width: 425px){

    .header1{
        font-size: 15px;
    }
    .secondgrid{
        position: absolute;
        right: 17px;
        top:  80em;
        width: 389px;
    }
    
    .box{
        background-color: rgb(189, 186, 186);
        padding-top:5px;
        border: 1px solid black;
        text-align: center;
    }
    
    .innerbox{
        background-color: white;
        text-align:initial;
        padding-top: 10px;
    }
    
    .btn2{
        border: 1px solid black;
        background-color: rgb(69, 155, 69);
        color:white;
        font-weight: bold;
        padding: 10px 24px;
        font-size:medium;
    }
    
    .settingbtn{
        padding-bottom: 24px;
        text-align:center;
    }
    
    .title{
        display: flex;
        padding-left: 30px;
        gap: 10px;
    }
    
    .shield{
        width: 10%;
        height: 45px;
        position: absolute;
        left: 8px;
        top: 15px;
    }
    
    .belowtext{
        width: 443px;
    }
    
    .a{
        color:blue;
    }
}

/* -----------------------MAIN CONTENT(CONTENT 3)---------------------- */

.imglady{
    background-repeat: no-repeat;
    padding-left:40px;
    padding-right: 40px;
    padding-top: 44em;
    padding-bottom: 30px;
}

.boxy{
    position:absolute;
    top:126em;
    left: 80px;
    width: 400px;
    height: 260px;
    background-color: white;
    border: 1px solid grey;
}

.innerboxy{
    padding-left:15px;
    padding-top:50px;
}

.hrnew{
    border: 1px solid green;
    width: 50px;
    position:absolute;
    left:20px;
    top:20px;
}

.texy{

}

.texy2{
    color: grey;
    font-size: 30px;
}

.texy3 a{
    text-decoration: none;
    color: rgb(9, 111, 123);
}

@media (max-width: 425px){
    .imglady{
        background-repeat: no-repeat;
        padding-left:0px;
        padding-right: 1px;
        padding-top: 78em;
        padding-bottom: 30px;
    }
    
    .boxy{
        position:absolute;
        top:105em;
        left: 0px;
        width: 422px;
        height: 221px;
        background-color: white;
        border: 1px solid grey;
    }
    
    .innerboxy{
        padding-left:15px;
        padding-top:32px;
    }
    
    .hrnew{
        border: 1px solid green;
        width: 50px;
        position:absolute;
        left:20px;
        top:20px;
    }
    
    .texy{
    
    }
    
    .texy2{
        color: grey;
        font-size: 30px;
    }
    
    .texy3 a{
        text-decoration: none;
        color: rgb(9, 111, 123);
    }
}

/* -----------------------BOTTOM CONTENT---------------------- */

.header2{
    font-weight: bold;
    font-size: 30px;
    text-align:center;
}

.griddy{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left:30px;
    padding-top:50px;
    padding-bottom:50px;
}

.griddy img{
    padding-left:150px;
}

@media (max-width: 425px){
    .header2{
        font-weight: bold;
        font-size: 15px;
        text-align:center;
    }
    
    .griddy{
        display: grid;
        grid-template-columns: repeat(1,3fr);
        padding-left:30px;
        padding-top:50px;
        padding-bottom:50px;
        gap:100px;
    }
    
    .griddy img{
        padding-left:0px;
    }
    .bottom{
        position:absolute;
        left: 111px;
        top: 138em;
        width: 259px;
    }
    .bottom2{
        position:absolute;
        left: 112px;
        top: 148em;
    }
    .bottom3{
        position:absolute;
        left: 112px;
        top: 159em;
    }
}

/* ----------------------------MODAL------------------------ */

.modal{
    display:none;
    position: fixed;
    width:100%;
    height:100%;
    overflow:auto;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.modal_content{
    background-color: white;
    width:500px;
    position: absolute;
    left:30em;
    top: 16em;
    padding: 15px 20px;
    border:3px solid rgb(69, 155, 69);

}

.close{
    font-size:35px;
    color:rgb(106, 103, 90);
    float:right;
}
.close:hover , .close:focus{
    cursor: pointer;
    color:black;
}

.font{
    color:rgb(11, 19, 19);
}

.continue_btn{
    border: 1px solid rgb(15, 75, 15);
    background-color: rgb(69, 155, 69);
    color:white;
    font-weight: bold;
    padding: 10px 100px;
    font-size:medium;
    cursor: pointer;
}

.setting_btn{
    padding-left:89px;
}

@media (max-width: 425px){
    .modal{
        display:none;
        position: fixed;
        width:100%;
        height:100%;
        overflow:auto;
        left:0;
        top:0;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
    }
    
    .modal_content{
        background-color: white;
        width:500px;
        position: absolute;
        left:30em;
        top: 16em;
        padding: 15px 20px;
        border:3px solid rgb(69, 155, 69);
    
    }
    
    .close{
        font-size:35px;
        color:rgb(106, 103, 90);
        float:right;
    }
    .close:hover , .close:focus{
        cursor: pointer;
        color:black;
    }
    
    .font{
        color:rgb(11, 19, 19);
    }
    
    .continue_btn{
        border: 1px solid rgb(15, 75, 15);
        background-color: rgb(69, 155, 69);
        color:white;
        font-weight: bold;
        padding: 10px 100px;
        font-size:medium;
        cursor: pointer;
    }
    
    .setting_btn{
        padding-left:89px;
    }
    
}